/**/obj/**/*
/**/bin/**/*
/**/.ssotme/**/*
/**/DSPXml/**/*
/SSoT/__patch.json
/**/.vs/**/*
/**/node_modules/**/*
/**/.vscode/**/*
**/sync-report.md
**/.DS_Store
**/*.DS_Store/**/*
effortless-rulebook/push-to-airtable/sync-report.md
**/.vite/**/*
postgresql-18.1/**/*
**/*.pyc
execution-substratrates/binary/erb_calc.dylib
execution-substratrates/binary/erb_calc.o
