# Test Results: golang

## Summary

| Metric | Value |
|--------|-------|
| Total Fields Tested | 125 |
| Passed | 97 |
| Failed | 28 |
| Score | 77.6% |

## Failures

| language_candidate_id | Field | Expected | Actual |
|---------------|-------|----------|--------|
| a-csv-file | family_feud_mismatch | None | A CSV File Isn't a Family Feud Language, |
| a-csv-file | top_family_feud_answer | True | False |
| a-uml-file | family_feud_mismatch | None | A UML File Isn't a Family Feud Language, |
| a-uml-file | top_family_feud_answer | True | False |
| an-docx-doc | family_feud_mismatch | None | An DOCX Doc Isn't a Family Feud Language |
| an-docx-doc | top_family_feud_answer | True | False |
| an-xlsx-doc | family_feud_mismatch | None | An XLSX Doc Isn't a Family Feud Language |
| an-xlsx-doc | top_family_feud_answer | True | False |
| binary-code | family_feud_mismatch | None | Binary Code Isn't a Family Feud Language |
| binary-code | top_family_feud_answer | True | False |
| english | family_feud_mismatch | None | English Isn't a Family Feud Language, bu |
| english | top_family_feud_answer | True | False |
| falsifier-a | family_feud_mismatch | Falsifier A Is a Family Feud Language, b | None |
| falsifier-a | top_family_feud_answer | True | False |
| falsifier-c | family_feud_mismatch |  - Open World vs. Closed World Conflict. | Falsifier C Isn't a Family Feud Language |
| falsifier-c | top_family_feud_answer | True | False |
| french | family_feud_mismatch | None | French Isn't a Family Feud Language, but |
| french | top_family_feud_answer | True | False |
| javascript | family_feud_mismatch | None | JavaScript Isn't a Family Feud Language, |
| javascript | top_family_feud_answer | True | False |
| owl-rdf-graphql-generally | family_feud_mismatch | None | OWL/RDF/GraphQL/... generally Isn't a Fa |
| owl-rdf-graphql-generally | top_family_feud_answer | True | False |
| python | family_feud_mismatch | None | Python Isn't a Family Feud Language, but |
| python | top_family_feud_answer | True | False |
| sign-language | family_feud_mismatch | None | Sign Language Isn't a Family Feud Langua |
| sign-language | top_family_feud_answer | True | False |
| spoken-words | family_feud_mismatch | None | Spoken Words Isn't a Family Feud Languag |
| spoken-words | top_family_feud_answer | True | False |
